---
import { marked } from 'marked'
import BaseLayout from '../layouts/BaseLayout.astro'
import Link from '../components/shared/Link.astro'
import HeroSection from '../components/shared/HeroSection.astro'
const token = import.meta.env.STRAPI_PREVIEW_TOKEN
const fetch_url = import.meta.env.STRAPI_URL
async function getMediaFromStrapi() {
  const response = await fetch(
    `${fetch_url}/api/media-page?populate[media_hero][populate][hero_cta]=true&populate[media_cta]=true`,
    {
      headers: {
        Authorization: `Bearer ${token}`,
        'Content-Type': 'application/json'
      }
    }
  )
  const data = await response.json()
  return data.data
}

const mediaData = await getMediaFromStrapi()
---

<BaseLayout title="Press - Interledger Developers">
  <main>
    <HeroSection title={mediaData.media_hero.hero_title} content={mediaData.media_hero.hero_content} ctas={mediaData.media_hero.hero_cta} />

    <section class="press-intro">
      <div class="content-wrapper" set:html={mediaData.media_content ? marked.parse(mediaData.media_content) : ''} />
    </section>
    <section>
      <div class="content-wrapper">
        <Link
          href={mediaData.media_cta.href}
          style={mediaData.media_cta.style}
          umami={mediaData.media_cta.umami}
          external={mediaData.media_cta.external}
          text={mediaData.media_cta.text}
        />
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    padding-block-end: var(--space-l);
  }

  section {
    padding-block-start: var(--space-l);
  }

  section:last-child {
    padding-block-end: var(--space-l);
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .press-intro {
    background-color: var(--color-background-light);
    padding-block: var(--space-m);
  }

</style>
