---
import { marked } from 'marked'
import { getMediaPageFromStrapi } from '../utils/getMediaPageFromStrapi.ts'
import BaseLayout from '../layouts/BaseLayout.astro'
import Link from '../components/shared/Link.astro'
import HeroSection from '../components/shared/HeroSection.astro'
import Section from '../components/shared/Section.astro'

export const prerender = false

const preview = Astro.url.searchParams.get('preview') ?? false

const mediaData = await getMediaPageFromStrapi(preview)
---

<BaseLayout title="Press - Interledger Developers">
  {
    mediaData && (
      <main>
        {mediaData.media_hero && (
          <HeroSection
            title={mediaData.media_hero.hero_title ?? 'title'}
            content={mediaData.media_hero.hero_content ?? 'content'}
            ctas={mediaData.media_hero.hero_call_to_action ?? []}
          />
        )}
        {mediaData.media_content && (
          <section class="press-intro">
            <div
              class="content-wrapper"
              set:html={marked.parse(mediaData.media_content)}
            />
          </section>
        )}
        {mediaData.media_cta && (
          <section>
            <div class="content-wrapper">
              <Link
                href={mediaData.media_cta.link}
                style={mediaData.media_cta.style}
                umami={mediaData.media_cta.analytics_event_label}
                external={mediaData.media_cta.external}
                text={mediaData.media_cta.text}
              />
            </div>
          </section>
        )}
        <section>
          <div class="content-wrapper">
            <h2>------- Dynamic zone below:--------</h2>
            {mediaData.dynamic.map((component) => {
              switch (component.__component) {
                case 'shared.cta-link':
                  return (
                    <Link
                      href={component.link}
                      style={component.style}
                      umami={component.analytics_event_label}
                      external={component.external}
                      text={component.text}
                    />
                  )
                case 'shared.section':
                  return (
                    <Section
                      title={component.title}
                      content={component.content}
                    />
                  )
                default:
                  return null
              }
            })}
          </div>
        </section>
      </main>
    )
  }
</BaseLayout>

<style>
  main {
    padding-block-end: var(--space-l);
  }

  section {
    padding-block-start: var(--space-l);
  }

  section:last-child {
    padding-block-end: var(--space-l);
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .press-intro {
    background-color: var(--color-background-light);
    padding-block: var(--space-m);
  }
</style>
